[buildout]

parts =
    zope2
    productdistros
    instance
    zopepy

# Change the number here to change the version of Plone being used
extends = http://dist.plone.org/release/3.3.5/versions.cfg
versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3.5
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://eggrepo.eea.europa.eu/simple

# Add additional eggs here
eggs =
    elementtree
    Products.ATVocabularyManager
    eea.geotags

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[versions]
Products.ATVocabularyManager = 1.5.0

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs =
    ZODB3
url = ${versions:zope2-url}

[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8888

eggs =
    Plone
    ${buildout:eggs}

zcml =
    Products.ATVocabularyManager
    eea.geotags

products =
    ${productdistros:location}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
